@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/inter";
@import "./theme.css";

*,
/* *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  /* color: inherit; */
  text-decoration: none;
}
